<section class="home">
  <img src="assets/images/home-img.jpg" class="home-img" alt="">
  <div class="home-content">
      <h1>We help you to achieve <br>your goals.</h1>
      <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere eum quam sit, nisi itaque mollitia
          maxime pariatur impedit facilis fugit nostrum sapiente eaque delectus quisquam sed enim officia totam
          error eveniet?
      </p>
      <a [routerLink]="['/contact']" class="btn">Get Started</a>
  </div>
</section>
